@import "~normalize.css";
@import "_variables";

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
:root{
    --ui0: #000000;
    --ui1: #232735;
    --ui2: #A1A4B1;
    --ui3: #D3D4D8;
    --ui4: #F0F1F3;
    --text: #232735;
    --text2: #505565;
    --text3: #8B90A0;
    --text-inverse: #FFFFFF;
    --hover: #3E465F;
    --hover1: #EEEEF1;
    --backgorund: #FFFFFF;
}


body {
    background-color: var(--backgorund) ;
}


.header{
    border-radius: 5px;
    background-color: var(--ui1);
    grid-area: header;
    min-height: 50px;
    position: fixed;
    top: 0;
    width: 100%;
}

.navigation {
    padding: 6px;
    display: none;
    &--open{
        display: block;
    }
    &__link {
        color: var(--ui3);
        display: block;
        box-sizing: border-box;
        text-decoration: none;
        cursor: pointer;
        margin: 0 10px;
        border: solid 2px var(--ui3);
        padding: 10px;
        border-radius: 5px;
    }
}
.dark{
    position: absolute;
    left: 18px;
    top: 10px;
    border: none;
    background: none;
}


.hamburger{
    position: absolute;
    right: 18px;
    top: 10px;
    border: none;
    background: none;
}

.icon{
    width: 30px;
    height: 30px;
}

.main {
    margin: 40px 0;
    background-color: var(--ui3);
    grid-area: content;
    min-height: 100%;
    /* width: 1000px; */
    /* margin-left: auto;
    margin-right: auto; */
}

.content__title {
    text-align: center;
    text-transform: uppercase;
    color: var(--ui1);
    padding-top: 20px;
    margin: 0;
}

.post {
    padding: 0 20px;
    border: solid 5px var(--ui1);
    border-radius: 20px;
    margin-bottom: 15px;
    &:hover {
        background-color: var(--ui4);
    }
    &__title {
        color: var(--text);
        text-align: center;
        &::before {
            content:"" ;
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: var(--ui1);
        }
        &::after {
            content:"" ;
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: var(--ui1);
        }
    }
    &__description {
        text-align: justify;
        color: var(--text);
    }
}


.footer {
    grid-area: footer;
    background-color: var(--ui1);
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    &__description {
        color: var(--ui3);
    }
    &__link {
        text-decoration: none;
        cursor: pointer;
        color: var(--ui2);
    }
}


@media screen and (min-width: 768px) {
    body {
        display: grid;
        grid-template-areas:
            "header header header"
            ". content ."
            "footer footer footer";
        grid-template-columns: 1fr 80% 1fr;
    }

    .navigation {
        display: flex;
        justify-content: center;
    }
    .hamburger{
        display: none;
    }
}

@media screen and (min-width: 1440px) {
    body {
        grid-template-columns: 1fr 1200px 1fr;
    }
}